@import "global";
@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Open+Sans:300,300i,400,400i,600,800');

html,
body,
div.app {
  height: 100%;
  padding: 0;
  margin: 0;
  border-size: border-box;
}

h1, label {
  margin: 0
}

h1, h2, h3, h4, h5, li {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.main-container {
  width: 100%;
}

.header-container {
  width: 100%;
  min-height: 80px;
  display: flex;
  position: fixed;
  z-index: 1;
  align-content: center;
  background-color: $dark-grey;
  border-bottom: 1px solid #fff;
  a {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    &.active {
      color: #fff;
      background-color: #0090AA;
    }
  };
  @media screen and (max-width: 500px) {
    height: auto;
  }
}

.top-nav-menu {
  padding: 20px 0;
  a {
    padding-right: 20px;
  };
  @media screen and (max-width: 500px) {
    display: flex;
    justify-content: center;
    a {
      padding: 0 10px;
    };
  }
}

.content-container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  @media screen and (max-width: 1200px) {
    width: 90%;
  };
  @media screen and (max-width: 500px) {
    justify-content: space-around;
  }
}

.content-container-why {
  width: 100%;
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.how-container {
  width: 900px;
  margin: auto;
}

.top-right-container {
  display: flex;
  justify-content: space-between;
  align-self: center;
  align-content: center;
  @media screen and (max-width: 500px) {
      padding-bottom: 30px;
    }
}

.banner-container {
  text-align: center;
  background-color: $dark-grey;
  color: #fff;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 20px;
  @media screen and (max-width: 500px) {
    padding-top: 140px;
  }
}

.splash-content-container {
  width: 1200px;
  margin: auto;
}

.menu-container-wrap {
  width: 100%;
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-around;

}

.menu-container {
  display: flex;
  width: 100%;
  max-width: 900px;
  justify-content: space-between;
  height: 40px;
  @media screen and (max-width: 500px) {
      height: auto;
    }
}


.menu-item-container {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 300px;
  @media screen and (max-width: 500px) {
      align-self: center;
      max-width: 100px;
    }
}

.menu-link {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  width: 100%;
  padding: 7px;
  text-align: center;
  text-decoration: none;
  background-color: #f2f2f2;
  color: #404040;
  &.active {
  color: #fff;
  background-color: #0090AA;
  }
}

.test {
  width: 100px;
}


.animated-gif {
  width: 280px;
}

.main-tagline {
  font-weight: 300;
  font-size: 25px;
}

.logoSm {
  padding-top: 20px;
  width: 120px;
  margin-right: 20px;
  @media screen and (max-width: 500px) {
    width: 90px;
  }

}

.logoType {
  width: 300px;
  padding-top: 20px;
  @media screen and (max-width: 500px) {
    width: 200px;
  }
}

.logoType-sm {
  width: 200px;
  padding-top: 10px;
  @media screen and (max-width: 500px) {
    padding-top: 20px;
  };
}

.tagline {
  font-size: 20px;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
  margin-top: -5px;
}

.banner-two-container {
  width: 100%;
  text-align: center;
  background-color: $dark-grey;
  height: 300px;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 500px) {
    height: 250px;
    padding-top: 100px;
  }
}

.register-form-container, .log-in-form-container {
  display: flex;
  margin: 0px auto;
  background-color: $dark-grey;
  align-items: center;
  height: 100vh;
}

.input-top {
  margin-right: 10px;
  width: 160px;
  border: none;
  outline: none;
  height: 37px;
}

.hide {
  display: none;
}

button {
  font-family: 'Fjalla One';
  padding: 10px 20px;
  font-size: 15px;
  border: none;
  outline: none;
  width: 100px;
  background-color: #D6DE23;
}

.nav-login {
  background-color: #D6DE23;
  color: #404040;
}

.register {
  background-color: #0090AA;
  color: #fff;
  margin-left: 20px;
}

::-webkit-input-placeholder {
  color: #b5b5b5;
  text-align: center;
}

.user-name {
  color: #fff;
  padding-top: 10px;
  .name {
    font-weight: bold;
  }
}

.signOutSm {
  @media screen and (max-width: 500px) {
    display: block;
  }
}

.profile-img-container {
  position: relative;
  height: 205px;
  width: 205px;
  margin-right: 20px;
  div {
    position: absolute;
    width: 180px;
    top: 14px;
    left: 18px;
  }
  img {
    position: absolute;
    width: 178px;
    top: 2px;
    left: 13px;
  }
}


.menu-user-container-wrap {
  width: 100%;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
}

.user-banner {
  width: 100%;
  height: 300px;
  padding-top: 50px;
  background-color: $dark-grey;
  display: flex;
  justify-content: center;
  @media screen and (max-width: 600px) {
    height: auto;
    padding-top: 100px;
    padding-bottom: 20px;
  }

}

.user-information {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 18px;
  font-family: 'Open-Sans', sans-serif;
  background-color: $dark-grey;
  color: white;
  margin: auto;
  width: 1200px;
}

.profile-content-container {
  width: 320px;
  padding-left: 20px;
  padding-top: 80px;
  font-size: 28px;
  @media screen and (max-width: 600px) {
    padding-top: 0px;
    text-align: center;
    padding-left: 0px;
    width: 100%;
  }
}

.user-signature {
  font-size: 25px;
  font-style: italic;
  padding-top: 10px;
}

.testimonial-container {
  width: 100%;
  max-width: 1200px;
  margin: 30px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  @media screen and (max-width: 900px) {
    flex-wrap: wrap;
    }
  justify-content: center;
}


.testimonial-item {
  padding: 0 20px;
  font-size: 15px;
  line-height: 24px;
  width: 30%;
  padding-bottom: 30px;
  @media screen and (max-width: 900px) {
    width: 100%;
    padding: 30px 50px;
    &:nth-child(1) {
      padding-top: 0;
    }
    &:nth-child(even) {
      border-bottom: 2px solid #f2f2f2;
      border-top: 2px solid #f2f2f2;
    }
    }
}

.testimonial-img {
  width: 80px;
  height: 90px;
  margin-right: 20px;
}

.snapshot {
  display: flex;
  justify-content: center;
}

.bio {
  font-style: italic;
  font-size: 15px;
}

.why-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 40px;
  div {
    margin-left: 20px;
    padding: 0 20px;
    width: 60%;
  }
}

.how-container {
  width: 100%;
}


.content-how {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 30px;
  margin: auto;
  @media screen and (max-width: 700px) {
    flex-wrap: wrap;
    }
}

.how-item {
  width: 300px;
  padding-bottom: 20px;
  height: 250px;
  @media screen and (max-width: 700px) {
    &:nth-child(even) {
      border-bottom: 2px solid #f2f2f2;
      border-top: 2px solid #f2f2f2;
      padding-top: 30px;
      padding-bottom: 30px;
      width: 100%;
    }
    }
}


.show:hover .hide {
  display: block;
  @media screen and (max-width: 600px) {
      display: none;
    }
}

.show:hover .number {
  display: none;
  @media screen and (max-width: 600px) {
      display: block;
    }
}

.show:hover h3 {
  display: none;
  @media screen and (max-width: 600px) {
      display: block;
    }
}

.hide {
  display: none;
}


.number {
  width: 130px;
  margin: auto;
  text-align: center;
  margin-top: 30px;
  @media screen and (max-width: 900px) {
      width: 100px;
    }
}

.schedule-img {
  width: 220px;
}

.main-blog-container {
  padding-top: 100px;
  display: flex;
  max-width: 1200px;
  margin: auto;

}

.blog-preview-container {
  display: flex;
  @media screen and (max-width: 800px) {
    width: 70%;
      flex-wrap: wrap;
    }
  border-bottom: 2px solid #f2f2f2;
  padding: 20px 0;
  .copy {
    display: block;
    width: 50%;
    padding: 20px;
    height: auto;
    overflow: hidden;
  }
}

.blogs-container {
    width: 81%;
}

.sideBar {
  width: 100%;
  background-color: #f2f2f2;
  padding-left: 50px;
  padding-top: 100px;
  height: 100vh;
  position: fixed;
  margin-left: 75%;
  top: 60px;
  left: 0;
}

.header-blog {
  min-height: 80px;
  @media screen and (max-width: 800px) {
      justify-content: center;
    }
}

.footer-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 30px;
  margin-top: 20px;
  background-color: #f2f2f2;
}

.social {
  width: 100%;
  display: flex;
  justify-content: center;
}

.socialIcon {
  width: 30px;
  padding: 10px 5px 5px 10px;
}

.legal {
  font-size: 12px;
  padding-bottom: 20px;
  color: #404040;
}

.white-containter {
  background-color: $dark-grey;
  margin-top: -15vh;
}

.white {
  color: #f2f2f2;
  opacity: 0.5;
}

.transparent {
  opacity: 0.5;
}

.blogEmailInput {
  height: 30px;
  width: 200px;
  margin-bottom: 10px;
}

.blogButton {
  width: 205px;
  background-color: $dark-grey;
  color: #f2f2f2;
}
