@import "global";
@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Open+Sans:300,300i,400,400i,600,800');

html,
body,
div.app {
  height: 100%;
  padding: 0;
  margin: 0;
  border-size: border-box;
}

h1, label {
  margin: 0
}

h1, h2, h3, h4, h5 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.main-container {
  width: 100%;
}

.header-container {
  width: 100%;
  height: 70px;
  display: flex;
  position: fixed;
  z-index: 1;
  align-content: center;
  background-color: $dark-grey;
  border-bottom: 1px solid #fff;
  a {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    &.active {
      color: #fff;
      background-color: #0090AA;
    }
  }
}

.top-nav-menu {
  padding-top:15px;
  a {
    padding-right: 20px;
  }
}

.content-container {
  width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.content-container-why {
  width: 100%;
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.how-container {
  width: 900px;
  margin: auto;
}

.top-right-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.banner-container {
  text-align: center;
  background-color: $dark-grey;
  color: #fff;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 20px;
}

.splash-content-container {
  width: 1200px;
  margin: auto;
}

.menu-container-wrap {
  width: 100%;
  background-color: #f2f2f2;
}

.menu-container {
  display: flex;
  justify-content: center;
  height: 40px;
}


.menu-item-container {
  display: flex;
}

.menu-link {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  width: 300px;
  padding: 7px;
  text-align: center;
  text-decoration: none;
  background-color: #f2f2f2;
  color: #404040;
  &.active {
  color: #fff;
  background-color: #0090AA;
  }
}

.test {
  width: 100px;
}


.animated-gif {
  width: 280px;
}

.main-tagline {
  font-weight: 300;
  font-size: 25px;
}

.logoSm {
  padding-top: 20px;
  width: 120px;
  margin-right: 20px;
}

.logoType {
  width: 300px;
  padding-top: 20px;
}

.logoType-sm {
  width: 200px;
  padding-top: 10px;
}

.tagline {
  font-size: 20px;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
  margin-top: -5px;
}

.banner-two-container {
  width: 100%;
  text-align: center;
  background-color: $dark-grey;
  height: 300px;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-form-container, .log-in-form-container {
  display: flex;
//  width: 800px;
  margin: 0px auto;
  background-color: $dark-grey;
  align-items: center;
  height: 100vh;
}

.input-top {
  margin-right: 10px;
  width: 160px;
  border: none;
  outline: none;
  height: 37px;
}

.hide {
  display: none;
}

button {
  font-family: 'Fjalla One';
  padding: 10px 20px;
  font-size: 15px;
  border: none;
  outline: none;
  width: 100px;
  background-color: #D6DE23;
}

.nav-login {
  background-color: #D6DE23;
  color: #404040;
}

.register {
  background-color: #0090AA;
  color: #fff;
  margin-left: 20px;
}

::-webkit-input-placeholder {
  color: #b5b5b5;
  text-align: center;
}

.user-name {
  color: #fff;
  padding-top: 10px;
  .name {
    font-weight: bold;
  }
}

.profile-img-container {
  position: relative;
  height: 205px;
  width: 205px;
  margin-right: 20px;
  div {
    position: absolute;
    width: 180px;
    top: 14px;
    left: 18px;
  }
  img {
    position: absolute;
    width: 178px;
    top: 2px;
    left: 13px;
  }
}


.menu-user-container-wrap {
  width: 100%;
  background-color: #f2f2f2;
}

.user-banner {
  width: 100%;
  height: 300px;
  padding-top: 50px;
  background-color: $dark-grey;
  display: flex;
  justify-content: center;
}

.user-information {
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-family: 'Open-Sans', sans-serif;
  background-color: $dark-grey;
  color: white;
  margin: auto;
  width: 1200px;
}

.profile-content-container {
  width: 320px;
  padding-left: 20px;
  padding-top: 80px;
  font-size: 28px;
}

.user-signature {
  font-size: 25px;
  font-style: italic;
  padding-top: 10px;
}

.testimonial-container {
  width: 100%;
  max-width: 1200px;
  margin: 30px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}


.testimonial-item {
  padding: 0 20px;
  font-size: 15px;
  line-height: 24px;
  width: 30%;
  min-width: 300px;
}

.testimonial-img {
  width: 80px;
  height: 90px;
  margin-right: 20px;
}

.snapshot {
  display: flex;
  justify-content: center;
  // margin: 0 auto;
}

.bio {
  font-style: italic;
  font-size: 15px;
}

.why-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 40px;
  div {
    margin-left: 20px;
    padding: 0 20px;
    width: 60%;
  }
}

.how-container {
  width: 100%;
}


.content-how {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  padding-top: 30px;
  margin: auto;
}

.how-item {
  width: 300px;
}


.show:hover .hide {
  display: block;
}

.show:hover .number {
  display: none;
}

.show:hover h3 {
  display: none;
}

.hide {
  display: none;
}


.number {
  width: 130px;
  margin: auto;
  text-align: center;
  margin-top: 30px;

}

.schedule-img {
  width: 220px;
}
